/* ============ FONTS ============ */

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

/* ============ VALUES ============ */
:root {
   /* font */
   --font-family: "Montserrat";

   /* wrapper */
   --pattern-img: url("../img/pattern.svg");
   --pattern-size: 120px;
   --pattern-opacity: 0.1;

   /* app */
   --app-padding-y: 40px;
   --app-padding-x: 20px;

   /* content */
   --content-mw: 920px;

   /* header */

   /* main */

   /* footer */
   --footer-margin: 20px 0 10px 0;
   --copyright-size: 10px;
   --copyright-color: rgba(255, 255, 255, .5);
   --copyright-color-h: rgba(255, 255, 255, .7);
}


/* ============ COLORS ============ */
:root {
   /* base */
   --selection: rgba(0, 0, 0, 0.3);
   --tap-bg: rgba(0, 0, 0, 0);

   /* wrapper */
   --wrapper-bg: rgba(25, 26, 27, 1);

   /* app */

   /* content */

   /* header */

   /* main */

   /* footer */
}


/* ============ END :) ============ */